Package: lynx-common
Source: lynx
Version: 2.8.9rel.1-2
Architecture: all
Maintainer: Debian Lynx Packaging Team <pkg-lynx-maint@lists.alioth.debian.org>
Installed-Size: 3201
Recommends: lynx
Breaks: lynx-cur (<< 2.8.9dev8-2~), lynx-cur-wrapper (<< 2.8.8dev.8-2)
Replaces: lynx-cur (<< 2.8.9dev8-2~), lynx-cur-wrapper (<< 2.8.8dev.8-2)
Section: web
Priority: optional
Multi-Arch: foreign
Homepage: https://lynx.invisible-island.net/
Description: shared files for lynx package
 In continuous development since 1992, Lynx sets the standard for
 text-mode web clients.
 .
 This package contains architecture-independent files shared by the
 lynx package over any architecture available in Debian.  Examples of
 such shared files are: manpages, locale and mimetype definitions, and
 configuration files.
